{% extends 'CIResults/base.html' %}

{% block title %}Test List{% endblock %}

{% block content %}
    <form class="form-inline search_bar text-center" method='get'>
        <label for="formSearchQuery">Test name filter</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="formSearchQuery" placeholder="Query" name='q' value='{{search_query}}'>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Tests list ({% if page_obj is not None %}{{ page_obj.paginator.count }}{% else %}{{object_list|length}}{% endif %})
        </div>
        <div class="panel-body panel-collapse collapse in">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable">
                    <thead>
                        <tr>
                            <th>Test name</th>
                            <th>Added on</th>
                            <th>First runconfig</th>
                            <th>Vetted on</th>
                            <th class="sorttable_nosort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for test in object_list %}
                        <tr>
                            <td>{% include "CIResults/basic/test.html" with test=test %}</td>
                            <td data-sorttable-customkey="{{test.added_on|date:'U'}}">{{test.added_on}}</td>
                            <td>{% include "CIResults/basic/runconfig_lite.html" with runconfig=test.first_runconfig %}</td>
                            <td data-sorttable-customkey="{{test.vetted_on|date:'U'}}">{{test.vetted_on}}</td>
                            <td>
                                {% if perms.CIResults.change_test %}
                                <a href="{% url 'CIResults-test-edit' test.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'CIResults-test-rename' test.id %}" class="btn btn-warning">Rename</a>
                                {% endif %}
                                <a href="{% url 'CIResults-test-detail' test.id %}" class="btn btn-default">History</a>
                                {% if test.vetted_on != None and perms.CIResults.suppress_test %}
                                <a href="{% url 'CIResults-test-suppress' test.id %}" class="btn btn-warning">Suppress</a>
                                {% elif test.vetted_on == None and perms.CIResults.vet_test %}
                                <a href="{% url 'CIResults-test-vet' test.id %}" class="btn btn-warning">Vet</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan='5' class='text-center'>No tests yet</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "CIResults/basic/paginator.html" %}
            </div>
        </div>
    </div>
{% endblock %}
