{% extends 'CIResults/testresult_list.html' %}
{% load helpers %}

{% block title %}Test Result history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about {{testresult}}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Test</td><td>{% include "CIResults/basic/test.html" with test=testresult.test %}</td></tr>
                <tr><td>Testsuite Run</td><td>{{testresult.ts_run}}</td></tr>
                <tr><td>Status</td><td>{% include "CIResults/basic/textstatus.html" with status=testresult.status %} ({% if testresult.is_failure %}FAILURE{% else %}PASS{% endif %})</td></tr>
                <tr><td>External URL</td><td><a href="{{testresult.url}}">{{testresult.url}}</a></td></tr>

                <tr><td>Start time</td><td>{{testresult.start}}</td></tr>
                <tr><td>Duration</td><td>{{testresult.duration}}</td></tr>

                <tr><td>Command line</td><td>{{testresult.command}}</td></tr>
                <tr><td>Stdout</td><td>{{testresult.stdout|linebreaks}}</td></tr>
                <tr><td>Stderr</td><td>{{testresult.stderr|linebreaks}}</td></tr>
                <tr><td>Dmesg</td><td>{{testresult.dmesg|linebreaks}}</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>History of results for {{testresult.test}} on {{testresult.ts_run.machine}}</h2>
{% endblock %}
